body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     position: relative;
}

header{
    background-color: rgb(5, 133, 237);
    padding: 15px;
}
header h1 {
    font-size: 60px;
    text-align: center;
    color: white;
}
#tout{
  
    width: 100%;
    display: flex;
    border: 2px solid black;
}
aside{
    position: sticky;
    top: 0;
    left: 0;
    width: 25%;
    height: 750px;
    text-align: center;
     background-color: rgb(15, 121, 166);
}
aside p{
    cursor: pointer;
    margin: 0;
    color: white;
    padding: 20px;
    padding-right: 50px;
    font-size: 20px;
    background-color: rgb(10, 95, 131)

}
aside .p:hover{
    background-color: white;
    color: aqua;
}
.titre {
     background-color: rgb(15, 121, 166);
     padding: 25px;
     font-size: 30px;
     cursor: default;
}

.contener{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin-top: 35px;
    margin-left: 6%;
    gap: 20px;
}

.active {
    border-radius: 15px;
  margin: 15px;
  padding: 5px;
  width: 25%;
  font-size: 20px;
  text-align: center;
  background-color: #dfe6e9;
  border: 2px solid #0984e3;
}

.active img {
    border-radius: 50%;
    margin-top: 30px;


}
.active .argent{
    color: rgb(51, 182, 51);
    font-size: 30px;
   
}